FLASK_SECRET_KEY: ""
PYTHONWARNINGS: "ignore:Unverified HTTPS request"
session_length: 60
session_cookie_name: "webapp-session"
proxmox_nodes:
  authentication_type: "token" # token or credentials
  token: "" # can leave blank if not using
  username: "" # can leave these blank if not using
  password: ""
  verify_ssl: False
  nodes:
    - 10.10.10.2
    - 10.10.10.3
    - 10.10.10.4
  prod_nodes_contain: "prod" # ensures VMs are not put on development nodes
  user_group: "student" # role with permissions users should inherit for vms they have access to
  node_random_select: false # check access to node on every API request. Can slow down performance because 2x API requests.
proxmox_webapp: # this is the proxmox webapp
  host: "https://ip or domain:5556" # location of the proxmox webapp. This is the app in the proxmox folder
  verifyssl: False
  pve_nets: # network blocks where user proxmox vm vmbr0 interfaces are. The target IP is checked against this list with "ip.contains()". Lowest network block is /24
    - 10.10.11.
    - 10.10.12.
    - 10.10.13.
cache_database:
  user: "postgres"
  password: ""
  database: "webapp"
  host: ""
  port: 5432
  sslmode: "require"
authentication: # priority is in order, top to
  - postgres:
      type: "postgres"
      enabled: true
      user: "postgres"
      password: ""
      database: "webapp"
      host: ""
      port: 5432
      sslmode: "require"
      realm: "pve"
  - LDAP:
      type: "ldap"
      enabled: true
      name: LDAP
      servers:
        - 10.10.10.10
        - 10.10.10.11
      port: 389
      domain: lab.example.com
      bind-user: CN=proxmox_environment_user,OU=User,DC=lab,DC=example,DC=com
      user-filter: (memberOf=CN=VM_Users,OU=Groups,DC=lab,DC=example,DC=org)
      base-dn: OU=LAB,OU=User,DC=lab,DC=example,DC=com
      bind-password: ""
      realm: "pve"
  - KeyCloak:
      type: "openid"
      enabled: true
      name: KeyCloak
      ssl_verify: False
      client_id: ""
      client_secret: ""
      base_redirect_domain: "https://domain"
      metadata_url: "https://domain/keycloak/realms/master/.well-known/openid-configuration"
      logout_url: "https://domain/keycloak/realms/master/protocol/openid-connect/logout"
      realm: "KeyCloak"
services: 
  - id: "uptimekuma"
    name: "Uptime Kuma"
    enabled: true
    needs_login: false
    protocol: "http"
    ips:
      - 10.10.10.100
    port: "3001"
    url: "/status/datacenter"
    allowed_referers:
      - "/web/home"
      - "/web/login"
      - "/web/index"
      - "/web/"
      - "/status/datacenter"
  - id: "proxmox"
    name: "Proxmox Servers"
    enabled: true
    needs_login: true
    protocol: "https"
    ips: 
      - 10.11.11.11
      - 10.11.11.12
      - 10.11.11.13
    port: "8006"
    url: "/"
    allowed_referers:
vm-provision-options:
  proxmox:
    enabled: True
    option: proxmox
    name: Proxmox Virtual Environment
    input_label: "Password: "
    description: "A Proxmox Virtual Environment Machine with the following: <br>6 cores, 16 gb of ram, 128 gb of storage <br>Running one OPNSense firewall VM and one AntiX (lightweight Linux distro) VM."
    cores: 6
    cpu: "host"
    memory: 16384
    networks:
      - "bridge=vmbr1,tag=15,virtio,firewall=0,link_down=0"
      - "bridge=vmbr1,tag=14,virtio,firewall=0,link_down=1"
    user_vlan: "13"
    provision_vlan: "15"
    iso: "proxmox-ve_8.3-1-auto-from-http.iso"
    iso_location: "local"
    storage: 128
    storage_location: "local-lvm"
    lvm_max_root: 18
    bios: "seabios"
    sockets: 1
    start: 1
    numa: 1
    agent: 1
    scsihw: "virtio-scsi-single"
    balloon: 1024
    proxmox_webapp_url: "https://"
    proxmox_webapp_fingerprint: ""
    pool: ""
    needs_postinst: False
    images:
      OPNsense:
        image_url: https:///OPNsense-25.1-dvd-amd64.iso
        image_url_verifyssl: False
        cores: 2
        cpu: "host"
        memory: 512
        networks:
          - "bridge=vmbr2,virtio"
          - "bridge=vmbr1,virtio"
        iso: "OPNsense-25.1-dvd-amd64.iso"
        iso_location: "local"
        storage: 24
        storage_location: "local-lvm"
        start: 0
        bios: "seabios"
        sockets: 1
        numa: 0
        scsihw: "virtio-scsi-single"
        balloon: 256
      antix:
        image_url: https:///antiX-23.1_x64-full.iso
        image_url_verifyssl: False
        cores: 2
        cpu: "host"
        memory: 2048
        networks:
          - "bridge=vmbr2,virtio"
        iso: "antiX-23.1_x64-full.iso"
        iso_location: "local"
        storage: 8
        storage_location: "local-lvm"
        start: 0
        bios: "seabios"
        sockets: 1
        numa: 0
        scsihw: "virtio-scsi-single"
        balloon: 256
  ubuntu:
    enabled: false
    option: ubuntu
    name: Ubuntu
    input_label: "Password: "
    description: "One Ubuntu with the following: <br>4 cores, 4 gb of ram, 32 gb of storage <br>Running Ubuntu 24.04.2 LTS."
    cores: 4
    cpu: "host"
    memory: 4096
    start: 0
    iso: "ubuntu-22.04.3-desktop-amd64.iso"
    iso_location: "local" # iso location on Proxmox Server
    storage: 32
    storage_location: "local-lvm" # location on Proxmox Server
    bios: "seabios"
    sockets: 1
    numa: 1
    scsihw: "virtio-scsi-single"
    networks:
      - "bridge=vmbr1,tag=14,virtio,firewall=0"
    balloon: 512
    pool: ""
    needs_postinst: False
    agent: 0
  request:
    enabled: false
    option: request
    name: Request a VM
    input_label: "Please describe your request: "
    description: "Request a custom virtual machine, we will contact you when your request is processed."
