apiVersion: v1
data:
  ANTIX_IMAGE: antiX-23.2_x64-base.iso
  ANTIX_MEMORY: "1024"
  ANTIX_STORAGE: "8"
  FW_IMAGE: OPNsense-24.7-dvd-amd64.iso
  FW_MEMORY: "2048"
  FW_STORAGE: "24"
  FW_VLAN: "4"
  PVE_CORES: "4"
  PVE_GUEST_STORAGE: "96"
  PVE_MEMORY: "4096"
  PVE_PASS: 
  PVE_TOKEN: 
  PVE_URL: 
  PVE_USER: @pam
  PVE_VLAN: "3"
  create_fw_url: https:/______/create_fw
  first_boot_script_url: https://_______/first-boot.sh
  first_boot_script_url_fingerprint: 
  iso_img_domain: https://_______
  lvm_max_root: "24"
  post_installation_url: https://_______/postinst
  post_installation_url_fingerprint: 
  proxmox_http_iso: proxmox-ve_8.3-1-auto-from-http.iso
  verify_ssl_pve: "True"
kind: ConfigMap
metadata:
  labels:
    app: proxmox-env
  name: env