<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/static.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}"/>
    </head>
    <body>
        <div id="vms_container">
            <p>VM data is loading...</p>
        </div>

        <hr/>

        {% include 'provision.html' %}

        <hr/>
        
        {% include 'services.html' %}

    </body>
    <script defer src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>