<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"/>
        
    </head>
    <body>
        <main>
            <h1>Cyber Data Center</h1>
            <pre>{{ banner }}</pre>
            {% if extra_content != "" %}
            <p>{{ extra_content }}</p>
            {% endif %}
            <form action="/web/{{ page }}" method="post">
                <label for="username">Username:</label>
                <input name="username" id="username" type="text" required></input>
                <label for="password">Password:</label>
                <input name="password" id="password" type="password" required></input>
                <button type="submit">Submit</button>
            </form>
            <p>Other pages:</p>
            {% for service in services %}
                {% if service['needs_login'] %}
            <a href="/web/open/{{ service['id'] }}">{{ service['name'] }}</a>
                {% endif %}
            {% endfor %}
        </main>
    </body>
</html>