apiVersion: v1
data:
  FLASK_SECRET_KEY:
  PROXMOX_WEBAPP_HOST: "ignore:Unverified HTTPS request"
  PROXMOX_WEBAPP_verify_ssl:
  PVE_NET: ""
  PYTHONWARNINGS:
  session_length:
  POSTGRES_USER:
  POSTGRES_PASSWORD:
  POSTGRES_DB:
  POSTGRES_HOST:
  POSTGRES_PORT: ""
  tickets_protocol:
  tickets_ip:
  tickets_port: ""
  uptime_protocol:
  uptime_ip:
  uptime_port: ""
  kasm_protocol:
  kasm_ip:
  kasm_port: ""
kind: ConfigMap
metadata:
  labels:
    app: webapp-env
  name: env
