apiVersion: v1
data:
  FLASK_SECRET_KEY:
  PROXMOX_WEBAPP_HOST: "ignore:Unverified HTTPS request"
  PROXMOX_WEBAPP_verify_ssl:
  PYTHONWARNINGS:
  session_length:
  POSTGRES_USER:
  POSTGRES_PASSWORD:
  POSTGRES_DB:
  POSTGRES_HOST:
  POSTGRES_PORT:
  tickets_protocol:
  tickets_ip:
  tickets_port:
  uptime_protocol:
  uptime_ip:
  uptime_port:
kind: ConfigMap
metadata:
  labels:
    app: webapp-env
  name: env
